:root {
  --gray-50: #f6f6f6;
  --gray-100: #efefef;
  --gray-200: #e1e1e1;
  --gray-200: #e1e1e1;
  --gray-400: #afafaf;
  --gray-600: #7c7c7c;
  --gray-800: #343434;
  --gray-900: #202020;
  --red-600: #ff8b8b;
}
