@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "CabinetGrotesk";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/CabinetGrotesk-Bold.woff") format("woff");
}
